#edit-output-text {
  cursor: pointer; 
}
.form-item-synonym  {
  display: none;	
}
.zam
{
  cursor: pointer; 
  background: #ddffdd;
  border: 1px solid #CCCCCC;
  line-height: 18px;
  height: 38px;
}
.Text3
{
  position: relative;
  font-size: 14px;
  color: #000;
}
.Text3 table {
  width: 100%;
  border: 1px solid #777;
  text-align: center;
  border-spacing: 0;
}
.out td {
  text-align: left;
  vertical-align: top;
  background: #fff;
}
.Text4
{
  position: relative;
  left: 0;
  top: 0;
  display: none;
  font-size: 14px;
  color: #000; 
}
.Text4 table {
  background: #fff;
  width: 10px;
  padding: 5px;
  font-size: 4px;
  cursor: pointer;
  border: none;
  border-spacing: 2px;
|